
<section class="section projects-section">
  

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Projects
  </h2>

  <div class="intro">
      <p>This page is under development ⚠, three more 'case studies' and four 'academic reviews' are being prepared to be added.</p>
  </div><!--//intro-->

  {% for post in site.posts %}
  
    <div class="item">

      <span class="project-title">
        {% if post.url %}
        <a href="{{ post.url }}" target="_blank">{{ post.title }}
      </a>
        {% else %}
        {{ post.title }}
        {% endif %}
      </span>

      {% if post.tagline %}
      - <span class="project-tagline">{{ post.tagline }}</span>
      {% endif %}

    </div><!--//item-->
    {% endfor %}

</section><!--//section-->
