/* ======= Base ======= */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,600;1,400&display=swap');

body {
  font-family: "Roboto", sans-serif;
  // font-family: 'Noto Sans Display', sans-serif;
  font-weight: 400;
  color: $text-color-secondary;
  background: #eee5e8bd;
  font-size: 14px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: darken(#6c3453, 10%);
  &:hover {
    text-decoration: underline;
    color: darken(#6c3453, 18%);
  }
  &:focus {
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

iframe {
  height: 100%;
  border-style: solid;
  border-color: #f1f1f1;
  border-radius: 5px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background: #6c3453;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.sidebar-wrapper {
  position: sticky;
  height: calc(100vh + 0px);
  top: 0px;
  left: 0;
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  grid-column: span 3;
  order: 0;
  background: #6c3453;
  color: #fff;
  a {
    color: #fff;
  }
  .profile-container {
    // padding: 30px;
    padding-top: 30px;
    //background: darken($theme-color, 10%);
    // background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
  }
  .name {
    // font-size: 32px;
    // font-weight: 900;
    font-variant: small-caps;
    text-shadow: 1px 1px 2px #00000099;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .tagline {
    color: rgba(256, 256, 256, 0.6);
    text-shadow: 1px 1px 2px #00000099;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  .profile {
    margin-bottom: 15px;
  }

  .avatar {
    //used for profile image
    max-width: 120px;
    margin-bottom: 22px;
    border: 0px solid #fff;
    border-radius: 100%;
    box-shadow: 1px 4px 7px 2px rgba(0, 0, 0, 0.3);
  }
  .contact-list {
    .fas,
    .fab,
    .far {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle;
    }
    li {
      margin-bottom: 15px;
      text-align-last: center;

      &:last-child {
        margin-bottom: 0;

      }
    }
  }
  .container-block {
    // padding: 30px;
    margin-top: 15%;
  }
  .container-block-title {
    // text-transform: uppercase;
    font-variant: small-caps;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .education-container {
    .item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .meta {
      color: rgba(256, 256, 256, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
      margin-top: 0;
    }
    .time {
      color: #8d6171;
      font-weight: 500;
      margin-bottom: 0px;
    }
  }
  .languages-container {
    .lang-desc {
      color: rgba(256, 256, 256, 0.6);
    }
  }

  .languages-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .interests-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .sidebar-wrapper {
    position: sticky;
    top: 0px;
    left: 0;
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
    grid-column: span 3;
    order: 0;
    // background: $theme-color;
    color: #fff;
    a {
      color: #fff;
    }
    // .profile-container {
    //   // padding: 30px;
    //   padding-top: 30px;
    //   //background: darken($theme-color, 10%);
    //   // background: rgba(0, 0, 0, 0.2);
    //   text-align: center;
    //   color: #fff;
    // }
    // .name {
    //   font-size: 32px;
    //   font-weight: 900;
    //   margin-top: 0;
    //   margin-bottom: 10px;
    // }
    // .tagline {
    //   color: rgba(256, 256, 256, 0.6);
    //   font-size: 16px;
    //   font-weight: 400;
    //   margin-top: 0;
    //   margin-bottom: 0;
    // }
    // .profile {
    //   margin-bottom: 15px;
    // }
  
    // .avatar {
    //   //used for profile image
    //   max-width: 120px;
    //   margin-bottom: 15px;
    //   border: 0px solid #fff;
    //   border-radius: 100%;
    //   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    // }
    // .contact-list {
    //   .fas,
    //   .fab,
    //   .far {
    //     margin-right: 5px;
    //     font-size: 18px;
    //     vertical-align: middle;
    //   }
    //   li {
    //     margin-bottom: 15px;
    //     text-align-last: center;
  
    //     &:last-child {
    //       margin-bottom: 0;
  
    //     }
    //   }
    // }
    .container-block {
      // padding: 30px;
      margin-top: 8%;
    }
    // .container-block-title {
    //   text-transform: uppercase;
    //   font-size: 16px;
    //   font-weight: 700;
    //   margin-top: 0;
    //   margin-bottom: 15px;
    // }
    .degree {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 5px;
    }
    .education-container {
      .item {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .meta {
        color: rgba(256, 256, 256, 0.6);
        font-weight: 500;
        margin-bottom: 0px;
        margin-top: 0;
      }
      .time {
        color: #8d6171;
        font-weight: 500;
        margin-bottom: 0px;
      }
    }
    .languages-container {
      .lang-desc {
        color: rgba(256, 256, 256, 0.6);
      }
    }
  
    .languages-list {
      margin-bottom: 0;
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  
    .interests-list {
      margin-bottom: 0;
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.main-wrapper {
  grid-column: span 7;
  background: #fff;
  // height: 100vh;
  overflow: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .section-title {
    // text-transform: uppercase;
    font-variant: small-caps;
    font-size: 22px;
    font-weight: 500;
    color: darken(#6c3453, 10%);
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .section {
    margin-bottom: 25px;
  }

  .experiences-section,
  .educations-section {
    .item {
      margin-bottom: 15px;
    }
  }
  .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
  }
  .job-title,
  .degree {
    color: $text-color;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }
  .time {
    position: absolute;
    right: 0;
    top: 0;
    color: #8d6171;
  }
  .company,
  .university {
    margin-bottom: 10px;
    color: #8d6171;
  }

  .project-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    color: darken(#6c3453, 10%);
  }
  .projects-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }

  .publication-title {
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 1px;
  }
  .publication-authors {
    font-style: italic;
    color: $text-grey;
    margin-bottom: 1px;
  }
  .publications-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }
}

// project title decapitalization:
.wrapper .main-wrapper .projects-section .section-title {
  text-transform: none;
}

.skillset {
  .item {
    margin-bottom: 15px;
    overflow: hidden;
  }
  .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .level-bar {
    height: 12px;
    background: $smoky-white;
  }
  .level-bar-inner {
    height: 12px;
    background: lighten(#6c3453, 15%);
  }
}

.footer {
  padding-top: 0px;
  .copyright {
    line-height: 1.6;
    color: $text-color-secondary;
    font-size: 13px;
  }

  .fa-heart {
    color: $heart;
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 20px;
}


::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e4ccd6;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ddaac3;
  border-radius: 18px;
  border: 5px solid transparent;
}